.section {
  padding-top: 180px;
}

.content {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 24px;
}
