.section {
  width: 600px;
  box-sizing: border-box;
  padding: 100px 16px 52px;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.item {
  width: 100%;
  display: flex;
  gap: 8px;
  align-items: center;
}

.deception {
  width: 24px;
  height: 24px;
}

.container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}

.info {
  display: flex;
  align-items: center;
  gap: 10px;
}
