@keyframes scaling {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.loading {
  width: 120px;
  height: 120px;
  margin: 60px 0;
  background-image: url("../../images/loading.svg");
  background-repeat: no-repeat;
  background-position: center;
  animation: scaling 1.5s ease-in-out infinite;
}

.done {
  width: 120px;
  height: 120px;
  margin: 60px 0;
  background-image: url("../../images/done.svg");
  background-repeat: no-repeat;
  background-position: center;
}
