.section {
  width: 600px;
  margin-left: auto;
}

.tabs {
  display: flex;
  margin-bottom: 40px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-height: calc(100vh - 364px);
  overflow-x: hidden;
  overflow-y: auto;
}
