.section {
  width: 640px;
  padding: 122px 0 190px;
  margin: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: calc(100vh - 768px);
  overflow-y: auto;
}

.container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  display: flex;
  align-items: center;
  gap: 10px;
}
